body {
    background-color: #263240;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    color: #3f3932;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 14px;
    background-color: rgb(128, 169, 88);
    border: 2px solid #3f3932;
    transition: 0.4s;
    position: absolute;
    transform:translate(-50%,-50%);
}

#modal {
background-color: #3f3932;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  z-index: 1;
}

#modal:target {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
}

.button:hover {
    background-color: #3f3932;
    color: rgb(128, 169, 88);
}

.close {
    color: rgb(243, 107, 58);
    text-decoration: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.button:target {
    visibility: hidden;
    opacity: 0;
}