body { 
     text-align:center;
     font-family: 'Bree Serif', serif;
}

.tooltip {
    position: relative;
    color: rgb(165, 74, 74);
    display: inline-block;
    font-size: 26px;
  }
  
  .tooltip .text {
    visibility: hidden;
    width: 250px;
    background-color: rgb(165, 74, 74);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .text {
    visibility: visible;
  }