body {
  background-color: #263240;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 15px 45px;
  border-radius: 14px;
  background-color: #a25959;
  border: 2px solid #fff;
  transition: 0.4s;
  position: absolute;
  transform:translate(-50%,-50%);
}

#modal {
background-color: #a25959;
color: #fff;
padding: 20px;
border: 1px solid #888;
border-radius: 10px;
visibility: hidden;
opacity: 0;
position: absolute;
margin: auto;
width: 500px;
top: 50%;
left: 50%;
z-index: 1;
}

img {
  width: 20px;
}

#modal:target {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
}

.button:hover {
  background-color: #fff;
  border-color: #a25959;
  color: #a25959;
}

.closeright {
  color: #fff;
  border: 6px solid red;
  border-radius: 12px;
  background-color: red;
  text-decoration: none;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.closeleft {
  color: #a25959;
  border: 6px solid white;
  border-radius: 12px;
  background-color: white;
  text-decoration: none;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.button:target {
  visibility: hidden;
  opacity: 0;
}